@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Jujutsu";
  src: url("/font/jujutsu.ttf") format("truetype");
}

:root {
  --background: #c3c6d4; /* Light mode background */
  --foreground: #242a47; /* Light mode foreground */
}

.dark {
  --background: #181819; /* Dark mode background */
  --foreground: #391d1d; /* Dark mode foreground */
}

body {
  background: #181819;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
}
/* Custom scrollbar styling */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background-color: var(--foreground);
  border-radius: 6px;
  border: 3px solid var(--background);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
