@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #c3c6d4; /* Light mode background */
  --foreground: #242a47; /* Light mode foreground */
}

.dark {
  --background: #181819; /* Dark mode background */
  --foreground: #391d1d; /* Dark mode foreground */
}

body {
  background: #181819;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
